body{
    background-color: white;
}
h1{
    background-color: darkred;
    width:1024px;
    height: 60px;
    font-size: 50;
}

h2{
    font-size: 20;
    direction:center;
}

ul{
    background-color:lightgrey;
    width:341;
}

p{
    width: 1024px;
}






